<div class="button-container">
  <h1>Scraped Articles</h1>
  <a href="/articles"><button type="button">Scrape Articles</button></a>

  <hr>

<div class="articles-container">
  {{!-- {{#each Article}} --}}
  Hello
</div>
